<div>
    <h1 class="title">{{task.title}}</h1>
    <p class="description">{{task.description}}</p>
</div>

<style>
    .description {
        border: 1px solid #ccc;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px;
    }

    .title {
        border-bottom: 2px solid #ccc;
    }
</style>